/*
Template:   This file is specific for WordPress projects with ITM-Theme
Info:       This file is used only for testing environment. Please don't write your media queries into this file.
Web:        http://www.itmaniax.com
*/
/*------------------------------------------------*/
/*-----------------[MEDIA QUERIES]----------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
/*-----------------[    0 - 1919    ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 1919px){
    body
    {
        background: lightblue;
    }
}
/*------------------------------------------------*/
/*-----------------[ 0 - 1616   ]-------------*/
/*---------------------- DIVI --------------------*/
/*------------------------------------------------*/

@media only screen and (max-width : 1616px){
    body
    {
        background: lightcoral;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 1405     ]-------------*/
/*------------ DIVI - Laptops and desktops -------*/
/*------------------------------------------------*/
@media only screen and (max-width : 1405px){
    body
    {
        background: magenta;
    }    
}
/*------------------------------------------------*/
/*-----------------[    0 - 1280     ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 1280px){
    body
    {
        background: lightgreen;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 1100     ]-------------*/
/*------- DIVI - Tablets in landscape mode -------*/
/*------------------------------------------------*/
@media only screen and (max-width : 1100px){
    body
    {
        background: cyan;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 1040    ]-------------*/
/*---------------------- DIVI --------------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 1040px){
    body
    {
        background: lightseagreen;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 980     ]-------------*/
/*------- DIVI - Tablets in portrait mode --------*/
/*------------------------------------------------*/
@media only screen and (max-width : 980px){
    body
    {
        background: violet;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 900        ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 900px){
    body
    {
        background: brown;
    }
}

/*------------------------------------------------*/
/*-----------------[    0 - 784        ]-------------*/
/*---------------------- DIVI --------------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 784px){
    body
    {
        background: pink;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 767        ]-------------*/
/*----- DIVI - Smartphones in landscape mode -----*/
/*------------------------------------------------*/
@media only screen and (max-width : 767px){
    body
    {
        background: yellow;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 739        ]-------------*/
/*---------------------- DIVI --------------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 739px){
    body
    {
        background: blue;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 600        ]-------------*/
/*---------------------- DIVI --------------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 600px){
    body
    {
        background: orange;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 559     ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 559px){
    body
    {
        background: orangered;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 496        ]-------------*/
/*---------------------- DIVI --------------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 496px) {
    body
    {
        background: green;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 479        ]-------------*/
/*----- DIVI - Smartphones in landscape mode -----*/
/*------------------------------------------------*/
@media only screen and (max-width : 479px){
    body
    {
        background: red;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 399        ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 399px){
    body
    {
        background: springgreen;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 359        ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 359px){
    body
    {
        background: wheat;
    }
}
/*------------------------------------------------*/
/*-----------------[    0 - 319        ]-------------*/
/*------------------------------------------------*/
@media only screen and (max-width : 319px){
    body
    {
        background: navy;
    }
}
/*------------------------------------------------*/
/*-------------------[THE END]--------------------*/
/*------------------------------------------------*/
